.inspector {
  margin-top: var(--spacing-l);
}

.modelSelect {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px 0px;
}

.gptOptions {
  color: var(--light-body-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
  text-decoration: underline;
  transition: all 0.2s;
}
:hover.gptOptions {
  opacity: 0.8;
  scale: 1.2;
  transition: all 0.2s;
}

.optionContainer {
  display: flex;
  gap: 8px;
  font-size: var(--font-size-xxs);
  justify-content: right;
  align-items: center;
  margin-top: -8px;
  margin-bottom: -24px;
  height: 50px;
  overflow: hidden;
}

.buttonsContainer {
  display: flex;
  user-select: none;
  gap: 4px;
}

.promptBar {
  width: 100%;
  gap: 4px;
  display: flex;
  margin-bottom: 24px;
}

.dropdown {
  height: 100%;
  font-size: medium;
}

.promptButton {
  height: 100%;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.tooltipConfig {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  color: #1890ff;
  display: inline-block;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.configContainer {
  max-width: 650px;
  margin: 0 auto;
  padding: var(--spacing-l) var(--spacing-xxxl);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textarea {
  width: 96%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  resize: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

.promptsTextarea {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  resize: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
}

.textarea::-webkit-resizer {
  display: none;
}

.label {
  font-size: var(--font-size-s);
  color: var(--base-body-color);
}

.hint {
  font-size: var(--font-size-xs);
  color: var(--light-body-color);
}

.fieldLabelTitle {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--base-body-color);
  margin-top: 16px;
}

.fieldLabelHint {
  margin-top: -16px;
  font-size: var(--font-size-m);
  color: var(--light-body-color);
  margin-bottom: 16px;
}
